<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
 <head>
   <title>Index of /{{{prefix}}}</title>
 </head>
 <body>
   <h1>Index of /{{{prefix}}}</h1>
<table><tr><th></th><th><a href="?C=N;O=D">Name</a></th><th><a href="?C=M;O=A">Last modified</a></th><th>Size</th><th>Description</th></tr><tr><th colspan="5"><hr></th></tr>
{{#files}}
<tr><td valign="top"></td><td><a href="{{path}}">{{path}}</a></td><td align="right">{{lastModified}}  </td><td align="right"> {{size}}</td><td>&nbsp;</td></tr>
{{/files}}
<tr><th colspan="5"><hr></th></tr>
</table>
</body></html>
